<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Data View</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='style/bootstrap.css')}}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/
            jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/
            bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
        <center>
            <h1>{{ metric }} Statistics for {{ country }}</h1>
            <table class="table" align="center">
                <thead>
                    <th>Year</th>
                    <th> {{ metric }}</th>
                </thead>
                <tbody>
                    {% for row in data %}
                    <tr>
                        {% for value in row %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </center>
        </div>
    </body>
</html>
