<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Data View</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='style/bootstrap.css')}}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/
            jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/
            bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
        <center>
            <h1>{{ metric }} Plot for {{ country }}</h1>
                <img src="static/images/rplot.jpg"/>
        </center>
        </div>
    </body>
</html>
