<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Data View</title>
    </head>
    <body>
        <center>
            <h1>Dataset View</h1>
            <table>
                <thead>
                    <th>Year</th>
                    <th> {{ metric }}</th>
                </thead>
                <tbody>
                    {% for row in data %}
                    <tr>
                        {% for value in row %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </center>
    </body>
</html>
